body{
    background-color: rgba(0, 0, 0, 0.904);
}
h1{
    color: white;
    text-align: center;
}
.centro{
    text-align: center;
}
.baxio{
    text-align: center;
}
p{
    text-align: center;
}
.volta{
    text-align: center;
}
.oi{
    text-align: center;
}